/*GLOBAL STYLES*/
* {
    box-sizing: border-box;
}
body {
    background-image: url("../img/fond.png");
    font-family: 'Bree Serif', serif;
}
/*Navigation style*/
.navigation {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navigation ul {
    text-align: right;
    padding: 0;
}
.navigation li {
    display: inline-block;
    text-align: center;
    line-height: auto;
    padding: 0 50px;
    vertical-align: middle;
}
li:first-child {
    float: left;
}
.navigation a {
    color: #959595;
}
.navigation i {
    display: block;
    font-size: 1.2em;
}
span {
    font-size: 1.2em;
    font-weight: bold;
    transform: translateY(0);
    transition: all 1s ease;
}
span:hover {
    transform: translateY(20);
}
/*VIGNETE STYLE*/
.jumbotron {
    background-image: url("../img/bg_header.jpg");
    background-position: center;
    text-align: center;
    font-size: 0.5em;
    color: white;
}
.box {
    text-align: center;
}
.title {
    text-align: center;
    color: #f62459;
}
.sub-title {
    color: #f62459;
}
.btn {
    background-color: #f62459;
    color: white;
}
/*MAIN CONTENT STYLE*/
.icons-logo {
    width: 60px;
    height: 60px;
    line-height: 55px;
    background-color: #eff0f0;
    opacity: 0.5;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    vertical-align: middle;
    border: 1px solid #ccc;
}
.icons-logo a {
    font-size: 2em;
    color: #999999;
}
.animation:hover {
    animation: bounce 0.5s infinite alternate;
}
@keyframes bounce{
    from {
        -webkit-transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }
}
.icon-btn {
    background-color: #eff0f0;
}
.icon-btn a {
    background-color: #999999;
}
.en-savoir {
    color: #f62459;
}
/*registration form style*/
.registration {
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-name {
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 10px;
    padding: 20px 20px 20px 57px;
    width: 100%;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #ccc;
    outline: none;
}
#input-name {
    background-image: url("../img/bg_form_name.svg");
}
#input-mail {
    background-image: url("../img/bg_form_mail.svg");
}
#input-message {
    background-image: url("../img/bg_form_message.svg");
}
textarea {
    resize: none;
}

/*FOOTER STYLE*/
footer {
  text-align: center;
  font-size: 0.8em;
  padding: 20px;
}
footer p {
  margin: 0 auto;
}
